# sphinx + dependencies
GitPython
jupyterlab_myst
myst-nb
pybtex-apa7-style
sphinx
sphinx-book-theme
sphinx-design
sphinxcontrib-bibtex
sphinxcontrib-images

# r5py:
ConfigArgParse
contextily
filelock
folium
geopandas
importlib_resources
joblib
jpype1
numpy
pandas<2.1.0
pyproj
psutil
requests

# documentation:
contextily
folium
h3>=4.0.0b2
mapclassify
matplotlib
r5py.sampledata.helsinki>=0.1.1.dev0
r5py.sampledata.sao_paulo>=0.1.1.dev0
