ConfigArgParse
contextily
filelock
folium
geopandas
gitpython
ipycache
ipykernel
ipyleaflet
ipython
ipython-genutils
ipywidgets
joblib
jpype1
jupyter-book>=0.7.0b
mapclassify
myst-nb
myst-parser
nbsphinx
numpy
numpydoc
pandas
pyproj
psutil
rasterio>=1.3a3
shapely
Sphinx
sphinx-book-theme
sphinx-togglebutton
sphinx_copybutton
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib.bibtex
