:root {
  /* heading font sizes */
  --pst-font-size-h1: 32px;
  --pst-font-size-h2: 24px;
  --pst-font-size-h3: 18px;
  --pst-font-size-h4: 16px;
  --pst-font-size-h5: 16px;
  --pst-font-size-h6: 16px;
}
