# vim: set tabstop=2 softtabstop=2 shiftwidth=2 expandtab:

name: Build main branch

on:
  pull_request:
    branches: [main]
    types: [closed]
  workflow_call:

jobs:

  build:
    name: Build wheel(s) and packages
    runs-on: ubuntu-latest
    container: python:3
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install build tools
        run: python -m pip install build
      - name: Build wheel(s) and packages
        run: python -m build .
      - name: Upload built packages
        uses: actions/upload-artifact@v3
        with:
          name: package
          path: dist/*.*
