# vim: set tabstop=2 softtabstop=2 shiftwidth=2 expandtab:

name: Lint code
on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    name: Linting code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          cache: pip
      - run: python -m pip install black flake8 pydocstyle
      - run: python -m black --check .
      - run: python -m flake8 .
      - run: python -m pydocstyle .
