# vim: set tabstop=2 softtabstop=2 shiftwidth=2 expandtab:

name: Lint and test after every push or pull request
on:
  push:
  pull_request:
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * SUN'  # run at midnight every Sunday

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Linting code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: pip
      - run: python -m pip install black flake8 pydocstyle
      - run: python -m black --check .
      - run: python -m flake8 .
      - run: python -m pydocstyle .

  test:
    name: Run tests (${{ matrix.os }}, Python ${{ matrix.python_version }})
    needs: lint
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: 
          - ubuntu-latest
          - windows-latest
          - macos-latest
        python_version:
          - '3.12'
          - '3.11'
          - '3.10'
          - '3.9'
        custom_r5:
          - true
          - false

    steps:
      -  uses: actions/checkout@v4.1.1

      - uses: actions/setup-java@v4
        with: 
          distribution: temurin
          java-version: 21

      - uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python_version}}
          cache: pip

      - run: pip install .[tests]

      - run: python -m pytest
        if: ${{matrix.custom_r5}}
        env:
          R5_JAR_URL: https://github.com/DigitalGeographyLab/r5/releases/download/v7.1-gp2-3/r5-v7.1-gp2-3-1-gbcaa62a-all.jar
          R5_JAR_SHA256: f2f4d1a799a91d407c81b80e6faaa3b8330a1e40ae6daa5d35149d8be460edf0

      - run: python -m pytest
        if: ${{ ! matrix.custom_r5}}

      - uses: codecov/codecov-action@v3.1.4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
