# vim: set tabstop=2 softtabstop=2 shiftwidth=2 expandtab:

name: Lint-and-test-after-every-push-or-pull-request
on:
  push:
  pull_request:
  workflow_call:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Linting code
    runs-on: ubuntu-latest
    container: python:3
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install black and flake8
        run: python -m pip install black flake8
      - name: Lint using black
        run: python -m black --check src
      - name: Lint using flake8
        run: python -m flake8 src

  test:
    name: Run tests (${{ matrix.os }}, ${{ matrix.env }})
    needs: lint
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: 
          - ubuntu-latest
          - windows-latest
          - macos-latest
        env:
          - ci/python_310_dev.yaml
          - ci/python_310.yaml
          - ci/python_39.yaml
          - ci/python_38.yaml

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install JVM
        uses: actions/setup-java@v3
        with: 
          distribution: temurin
          java-version: 11

      - name: Setup Conda
        uses: conda-incubator/setup-miniconda@v2.1.1
        with:
          auto-update-conda: true
          auto-activate-base: false
          activate-environment: test
          environment-file: ${{ matrix.env }}
          channel-priority: strict

      - name: Make sure pytest{,-cov} are installed
        shell: bash -l {0}
        run: conda install pytest pytest-cov

      - name: Install r5py
        shell: bash -l {0}
        run: pip install .

      - name: Check environment
        shell: bash -l {0}
        run: |
          conda info
          conda list
      - name: Test r5py
        shell: bash -l {0}
        run: pytest --cov --cov-report xml

      - name: Update codecov.io
        uses: codecov/codecov-action@v3.1.0
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
