# vim: set tabstop=2 softtabstop=2 shiftwidth=2 expandtab:

name: Lint code
on:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Linting code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: pip
      - run: python -m pip install black flake8 pydocstyle
      - run: python -m black --check .
      - run: python -m flake8 .
      - run: python -m pydocstyle .
