# vim: set tabstop=2 softtabstop=2 shiftwidth=2 expandtab:

name: Create a release and deploy to PyPi whenever a protected tag (v0.0.0) is created

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    name: Build package
    uses: ./.github/workflows/build-merged-pull-requests.yml
    secrets: inherit

  release:
    name: Create a new release
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      contents: write
    steps:
      - name: Download built artifacts
        uses: actions/download-artifact@v3
        with:
          name: package
          path: dist/
      - name: Create release and upload package
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*

  deploy:
    name: Upload built package to PyPi
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Download built artifacts
        uses: actions/download-artifact@v3
        with:
          name: package
          path: dist/
      - name: Upload package to PyPi
        uses: pypa/gh-action-pypi-publish@release/v1.5
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          skip_existing: true
