# vim: set tabstop=2 softtabstop=2 shiftwidth=2 expandtab:

name: Run unit tests
on:
  pull_request:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    uses: ./.github/workflows/lint.yml
    secrets: inherit

  test:
    name: Run tests (${{ matrix.os }}, Python ${{ matrix.python_version }}, ${{ matrix.r5_version }}-R5)
    needs: lint
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: 
          - ubuntu-latest
          - windows-latest
          - macos-latest
        python_version:
          - '3.13'
          - '3.12'
          - '3.11'
          - '3.10'
          - '3.9'
        r5_version:
          - r5py
          - conveyal

    steps:
      -  uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with: 
          distribution: temurin
          java-version: 21

      - uses: actions/setup-python@v5
        with:
          python-version: '${{matrix.python_version}}'
          cache: 'pip'

      - run: python -m pip install .[tests]

      - name: Configure r5py to use upstream R5
        shell: bash
        run: |
          mkdir -p .config
          echo "r5-classpath: https://github.com/conveyal/r5/releases/download/v7.3/r5-v7.3-all.jar" >> $HOME/.config/r5py.yml
          cat $HOME/.config/r5py.yml
        if: ${{matrix.r5_version == 'conveyal'}}

      - name: Show r5py configuration
        run: python -c 'from r5py.util.config import Config; print(Config().arguments)'

      - run: python -m pytest

      - uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
