# vim: set tabstop=2 softtabstop=2 shiftwidth=2 expandtab:

name: Lint and test every pull request
on:
  pull_request:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    uses: ./.github/workflows/lint.yml
    secrets: inherit

  test:
    name: Run tests (${{ matrix.os }}, Python ${{ matrix.python_version }})
    needs: lint
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: 
          - ubuntu-latest
          - windows-latest
          - macos-latest
        python_version:
          - '3.13'
          - '3.12'
          - '3.11'
          - '3.10'
          - '3.9'

    steps:
      -  uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with: 
          distribution: temurin
          java-version: 21

      - uses: actions/setup-python@v5
        with:
          python-version: '${{matrix.python_version}}'
          cache: 'pip'

      - run: python -m pip install .[tests]

      - run: python -m pytest

      - uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
